/*body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:  100vh;
    margin: 0;
    background-image: url('img/dester.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}*/

body{
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url('img/dester.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

h1{
    font-size: 68px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgb(0,0,0,0.5);
}

canvas{
    background-color: black;
    display: block;
}
.display-none{
    display: none !important;
}

.rotaion-image{
    display: none;
}

.site{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    h1{
        color: black;
        margin: 0;
        font-size: 100px;
    }
}
.start-game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{

        max-height: 480px;
    }
}
.end-game-img{
    position: absolute;
    max-width: 720px;
    margin-top: -480px;
}
.button{
    position: absolute;
    margin-bottom: 280px;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
}
.links-ds{
    display: flex;
    flex-direction: column;
    max-width: 1024;
    font-size: 24px;
    padding-left: 30px;
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}
.btn-restart{

 margin-bottom: 180px;
}
.button:hover{
    text-decoration: underline;
}
.instructions{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: black;
}
.mobile_btn{
    display: none;
}
@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
    .inner-page{
        width: 100%;
    }
}
@media only screen and (max-height: 480px){
    canvas{
        height: 100%;
    }
    .inner-page{
        height: 100%;
    }
    body{
        background-image: none;
    }
    .instructions{
        display: none;
    }
    h1{
        display: none;
    }
    .start-game{
        img{
        max-height: 100vh;
        }
    }

}

@media (hover:none){
    .mobile_btn{
        display: flex;
        position: relative;
        bottom: 20%;
        justify-content: space-between;
        img{
            width: 40px;
            padding: 10px;
        }        
    }
}

@media only screen
  and (orientation: portrait) {
    .rotaion-image{
        display: block;
        img{
            width: 250px;
        }
    }
    .inner-page{
        display: none;
    }
}

@media only screen and (orientation: landscape){

}